@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*script*@
<script src="~/js/index.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true">

<div class="text-center">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="line-login" onclick="OAuthLogin('Line')">
                <img class="line-login-img" />
            </div>
        </div>
    </div>
</div> 