@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*script*@
<script src="~/js/index.js" asp-append-version="true"></script>

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <div class="form-group row">
        <div class="col-md-12">
            @*<div class="line-login" onclick="OAuthLogin('Line')">
                    <img class="line-login-img" />
                </div>*@
            <button onclick="OAuthLogin('Line')">Line OAuth</button>
        </div>
    </div>

</div>
